p {
	/*margin: 0;*/
}





html, body, div, span {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

body {
	background: rgb(247, 247, 247);
}

#header > #logo {
	height: 75px;
}
#header > #logo > img {
	margin-top: 10px;
	width: 250px;
}
#header {
	margin-bottom: 20px;
	margin-top: 20px;
}
#header > #nav > ul {
	list-style-type: none;
	margin: 0;
	margin-top: 7px;
	text-align: right;
}
#header > #nav > ul li {
	color: black;
	display: inline-block;
	font-size: 15px;
	list-style-type: none;
	margin: 10px;
	padding: 5px;
}

#header > #nav > ul li:hover {
	color: #0069a6;
}




#hi {
	background: #0069a6;
}
#hi #intro {
	color: white;
	font-family: 'Open Sans';
	font-size: 41px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	padding: 50px;
	text-align: center;
}
@media (max-width: 1200px) {
	#hi #intro {
		font-size: 34px;
	}
}
@media (max-width: 1000px) {
	#hi #intro {
		font-size: 29px;
	}
}
@media (max-width: 720px) {
	#hi #intro {
		font-size: 24px;
	}
}
@media (max-width: 420px) {
	#hi #intro {
		font-size: 18px;
	}
}

#hi #intro a:hover {
	color: #ccc;
}

#portfolio {
	margin-top: 50px;
}

.item {
	margin-top: 50px;
}
@media (max-width: 1200px) {
	.item {
 		padding-left: 0;
    	padding-right: 0;
	}
}

.item > .col-md-12 {
	padding-left: 0;
    padding-right: 0;
	position: relative;
}
.item > .col-md-12 .hud {
	background: transparent;
	border-radius: 3px;
	color: white;
	font-size: 50px;
	height: 313px;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 313px;
}
.item > .col-md-12 .hud > span {
	margin-top: 140px;
}
.item > .col-md-12 .hud:hover {
	background: #ff5000;
	background: rgb(155, 78, 70);
	opacity: 0.7;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.3s;
	transition: background 0.3s;
}
.item > .col-md-12 img {
	border: 1px solid #eee;
	border-radius: 3px;
	height: 313px;
	width: 313px;
}
@media (max-width: 991px) {
	.item > .col-md-12 .hud {
		height: 100%;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.item > .col-md-12 img {
		height: auto;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}

#footer {
	background: rgba(37, 37, 37, 1);
	color: white;
	font-size: 12px;
	margin-top: 50px;
}
#footer #social {
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 30px;
	text-align: right;
	width: 100px;
}
#footer #social > a > img {
	height: 30px;
	width: 30px;
}
#footer #copyright{
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
}