#footer
	.container
		#copyright.col-md-12
			p &copy; 2014+ Edward Yang. Designed with <3 from Canada.
script(src="/assets/jquery-2.1.1.min/jquery-2.1.1.min.js")
script(src="/assets/bootstrap-3.2.0-dist/js/bootstrap.min.js")
script(src="/assets/holder-2.3.2/holder.js")
script(src="/javascript/ganalytics.js")
if(js)
	each j in js
		script(src="#{j}")